<div class="line-item">
    <div class="line-info">
        <a href="{{ item.url }}">{{ item.product.title }}</a>
        <p>{{ item.variant.title }} &mdash;{{ item.line_price | money }}</p>
    </div>

    <div class="line-image">
        <a href="{{ item.url }}">
            <img src="{{ item | img_url }}" width="" height="" loading="lazy" alt="{{ item.title | escape }}">
        </a>
    </div>
</div>


{% comment %} <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
{{ item.price | money }} {% endcomment %}
