<div class="product-card">
    <a href="{{ product.url }}"
        >{{ product.title }}
        <span> {{ product.price | money_without_trailing_zeros }}</span>
    </a>
    <p>
        {{
            product.description | strip_html | split: '.' | first | append: '.'
        }}
    </p>
    {% unless product.available %}<br /><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url }}">
        <img
            src="{{ product.featured_image.src | img_url: 'large' }}"
            alt="{{ product.featured_image.alt | escape }}"
        />
    </a>
</div>
